.divContainerFooter {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	height: 9vh;
	a {
		img {
            margin: 25px auto;
			height: 20px;
			width: 20px;
			transition: 0.2s;
		}
		img:hover {
            margin: 20px auto;
			height: 30px;
			width: 30px;
		}
		svg {
            margin: 25px auto;
			height: 20px;
			width: 20px;
            transition: 0.2s;
		}
        svg:hover{
            margin: 20px auto;
			height: 30px;
			width: 30px;
		}
	}
    h4 {
        display: flex;
        margin-top: 20px;
        gap: 5px;
    }
}

@media (max-width: 426px) {
	.divContainerFooter{
		display: flex;
		justify-content: space-around;
		h4{
			display: none;
		}
		a{
			img{
				height: 30px;
				width: 30px;
			}
			svg{
				height: 30px;
				width: 30px;
			}
		}
	}
}

@media (max-width: 768px) and (min-width: 426px) {
	.divContainerFooter{
		display: flex;
		justify-content: space-around;
		h4{
			display: none;
		}
		a{
			img{
				height: 30px;
				width: 30px;
			}
			svg{
				height: 30px;
				width: 30px;
			}
		}
	}
}